*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 20vh;
}
main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #FFF5EE;
    color: #203438;
}

.light header,
.light main,
.light #divHeader {
    background-color: #FFF5EE;
}

.light .botaoAdaptar,
.dark .iconButton.material-icons{
    color: #FFF5EE;
    background-color: #203438;
}

.light #themeIcon,
.light .headerText,
.light #troggleTheme{
    color: #203438;
    background-color: #FFF5EE;
}

.light #increaseFont,
.light #decreaseFont{
    color: #203438;
    background-color: #FFF5EE;
}

.dark {
    background-color: #203438;
    color: #FFF5EE;
}

.dark header,
.dark main,
.dark #divHeader {
    background-color: #203438;
}

.dark .botaoAdaptar,
.dark .iconButton.material-icons{
    background-color: #FFF5EE;
    color: #203438;
}

.dark #themeIcon,
.dark .headerText,
.dark #troggleTheme{
    color: #FFF5EE;
    background-color: #203438;
}

.dark #increaseFont,
.dark #decreaseFont{
    color: #FFF5EE;
    background-color: #203438;
}


#toggleTheme{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

#divHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
}

.headerText{
    color: #FFF5EE;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding-left: 22px;
    padding-top: 22px;
}
#themeIcon{
    font-size: 30px;
    padding-right: 22px;
}

#increaseFont,
#decreaseFont{
    box-shadow: none;
    border: none;
    font-size: 20px;
    padding-right: 10px;
    cursor: pointer;
}

#divBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoAdaptar{
    height: 426px;
    width: 297px;
    background-color: #FFF5EE;
    color: #203438;
    border: none;
    border-radius: 30px;
    margin: 38px;
    cursor: pointer;
}

#historyContainer{
    margin-top: 5vw;
}

.downloadButton {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-top: 0.5vw;
    background-color: #7F9183;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    align-self: center;
}

.downloadButton a{
    color: #FFF5EE;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.textButton{
    font-weight: bold;
    font-size: 32px;
}
.iconButton.material-icons{
    font-size: 200px;
    padding-bottom: 20px;
}