<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAPTA</title>
    <link rel="stylesheet" href="../styles/adaptar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <div id="divHeader">
                <div id="divHeader">
                    <p class="headerText">Adaptar</p>
                </div>
                <div id="divHeader">
                    <div class="divHeader">
                        <button id="increaseFont">A+</button>
                        <button id="decreaseFont">A-</button>
                    </div>
                    <button id="toggleTheme">
                        <span id="themeIcon" class="material-icons">light_mode</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div id="previewContainer">
            <div id="media"></div>
            <div id="mainTextDiv">
                <button id="mainText1" class="mainText">
                    <% if (fileType === 'image') { %>
                        Transcrever imagem em texto
                    <% } else if (fileType === 'audio') { %>
                        Transcrever áudio em texto
                    <% } else if (fileType === 'text') { %>
                        Narrar texto
                    <% } %>
                </button>
                <button id="mainText2" class="mainText">
                    <% if (fileType === 'image') { %>
                        Audiodescrição da imagem
                    <% } else if (fileType === 'audio') { %>
                        Gerar imagem a partir do áudio
                    <% } else if (fileType === 'text') { %>
                        Visualização do texto
                    <% } %>
                </button>
            </div>
        </div>
    </main>

    <footer>
        <div style="display: flex;">
            <p id="footerText">Carregar Arquivo</p>
            <span id="footerIcon" class="material-icons">upload</span>
        </div>
        <form id="mediaUpload" action="/file/upload?type=<%= fileType %>" method="post" enctype="multipart/form-data">
            <input type="file" name="filename" 
            <% if (fileType === 'image') { %>
                accept="image/*"
            <% } else if (fileType === 'audio') { %>
                accept="audio/*"
            <% } else if (fileType === 'text') { %>
                accept="text/plain"
            <% } %>
            id="fileInput">
        </form>    
    </footer>

    <script src="../javascript/theme.js"></script>
    <script src="../javascript/fonts.js"></script>
    <script src="../javascript/adaptar.js"></script>
</body>
</html>