<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAPTA - Result</title>
    <link rel="stylesheet" href="../styles/adaptar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <div id="divHeader">
                <div id="divHeader">
                    <p class="headerText">Resultado</p>
                </div>
                <div id="divHeader">
                    <div class="divHeader">
                        <button id="increaseFont">A+</button>
                        <button id="decreaseFont">A-</button>
                    </div>
                    <button id="toggleTheme">
                        <span id="themeIcon" class="material-icons">light_mode</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div id="resultContainer">
            <h2>Resultado adaptado</h2>
            <div id="resultPreview">
                <% if (output === 'image') { %>
                    <img src="../../generated/example-image.jpg" alt="Resultado da Imagem">
                    <div class="downloadButton">
                        <a href="../../generated/example-image.jpg" download="example-image.jpg">Baixar Imagem</a>
                    </div>
                <% } else if (output === 'audio') { %>
                    <audio controls>
                        <source src="../../generated/example-audio.wav" type="audio/mpeg">
                        Seu navegador não suporta o elemento de áudio.
                    </audio>
                    <div class="downloadButton">
                        <a class="downloadButton" href="../../generated/example-audio.wav" download="example-audio.mp3">Baixar Áudio</a>
                    </div>
                <% } else if (output === 'text') { %>
                    <iframe src="../../generated/example-text.txt" style="width: 100%; height: 400px;"></iframe>
                    <div class="downloadButton">
                        <a class="downloadButton" href="../../generated/example-text.txt" download="example-text.txt">Baixar Texto</a>
                    </div>
                <% } %>
            </div>
        </div>
    </main>

    <script src="../javascript/theme.js"></script>
    <script src="../javascript/fonts.js"></script>
</body>
</html>