<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADAPTA - Result</title>
    <link rel="stylesheet" href="../styles/adaptar.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <div id="divHeader">
                <div id="divHeader">
                    <p class="headerText">Resultado</p>
                </div>
                <div id="divHeader">
                    <div class="divHeader">
                        <button id="increaseFont">A+</button>
                        <button id="decreaseFont">A-</button>
                    </div>
                    <button id="toggleTheme">
                        <span id="themeIcon" class="material-icons">light_mode</span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div id="resultContainer">
            <h2>Resultado adaptado</h2>
            <div id="resultPreview">

            </div>
        </div>
    </main>

    <script src="../javascript/theme.js"></script>
    <script src="../javascript/result.js"></script>
    <script src="../javascript/fonts.js"></script>
</body>
</html>