*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
header{
    background-color: #203438;
    height: 20vh;
}
main{
    background-color: #203438;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #203438;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divHeader{
    display: flex;
    justify-content: space-between;
}
#headerText{
    color: #FFF5EE;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 22px;
    padding-top: 22px;
}
#headerIcon{
    padding-right: 22px;
    padding-top: 40px;
    color: #FFF5EE;
    font-size: 30px;
}
#mainImg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    background-color: #203438;
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 30px;
    width: 50%;
    height: 100%;
}
#mainTextDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 30px;
}
.mainText{
    background-color: #FFF5EE;
    border-radius: 20px;
    color: #203438;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    width: 80%;
    height: 15%;
    padding-top: 10px;
    padding-left: 5px;
}
#footerText{
    color: #FFF5EE;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 6px;
}
#footerIcon{
    color: #FFF5EE;
    font-size: 35px;
}