*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
header{
    background-color: #203438;
    height: 20vh;
}
main{
    background-color: #203438;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divHeader{
    display: flex;
    justify-content: space-between;
}
#headerText{
    color: #FFF5EE;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 22px;
    padding-top: 22px;
}
#headerIcon{
    padding-right: 22px;
    padding-top: 40px;
    color: #FFF5EE;
    font-size: 30px;
}
#divBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaoAdaptar{
    height: 426px;
    width: 297px;
    background-color: #FFF5EE;
    color: #203438;
    border: none;
    border-radius: 30px;
    margin: 38px;
}
.textButton{
    font-size: 32px;
    font-weight: bold;
}
.iconButton.material-icons{
    font-size: 200px;
    padding-bottom: 20px;
}