*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    background-color: #FFF5EE;
    height: 20vh;
}

main{
    background-color: #FFF5EE;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divHeader{
    display: flex;
    justify-content: space-between;
}

#logo{
    height: 100px;
}

#headerText {
    color: #203438;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 22px;
    padding-top: 22px;
}

#headerIcon{
    cursor: pointer;
    padding-right: 22px;
    padding-top: 40px;
    color: #203438;
    font-size: 30px;
}

#loginTitle {
    color: #203438;
    font-size: 31px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

label {
    color: #203438;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 40vw;
    max-width: 450px;
    height: 60px;
    background-color: #FFF5EE;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: #203438;
    padding-left: 20px;
    margin-bottom: 30px;
}

button {
    width: 20vw;
    max-width: 225px;
    height: 60px;
    background-color: #7F9183;
    border-radius: 20px;
    border: none;
    color: #FFF5EE;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    align-self: center;
}

#registerText {
    color: #203438;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    cursor: pointer;
}

#registerText a {
    color: #203438;
}