*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    height: 20vh;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #FFF5EE;
    color: #203438;
}

.light header,
.light main {
    background-color: #FFF5EE;
}

.light label{
    color: #203438;
}

.light input{
    border-radius: 20px;
    border: solid;
    border-width: 2px;
}

.light .headerText,
.light #loginTitle,
.light #registerText,
.light #registerText a,
.light #toggleTheme,
.light #themeIcon{
    background-color: #FFF5EE;
    color: #203438;
}

.dark {
    background-color: #203438;
    color: #FFF5EE;
}

.dark header,
.dark main {
    background-color: #203438;
}

.dark label{
    color: #FFF5EE;
}

.dark .headerText, 
.dark #loginTitle,
.dark #registerText,
.dark #registerText a,
.dark #toggleTheme,
.dark #themeIcon{
    background-color: #203438;
    color: #FFF5EE;
}

.divHeader{
    display: flex;
    justify-content: space-between;
}

#logo{
    height: 100px;
}

.headerText{
    color: #FFF5EE;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 22px;
    padding-top: 22px;
}

#themeImage{
    height: 100px;
}

#headerIcon{
    cursor: pointer;
    padding-right: 22px;
    padding-top: 40px;
    color: #FFF5EE;
    font-size: 30px;
}

#loginTitle {
    color: #FFF5EE;
    font-size: 31px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#themeIcon{
    cursor: pointer;
    color: #FFF5EE;
    font-size: 30px;
}

#toggleTheme{
    cursor: pointer;
    padding-right: 22px;
    color: #FFF5EE;
    border: none;
    box-shadow: none;
}

label {
    color: #FFF5EE;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 40vw;
    max-width: 450px;
    height: 60px;
    background-color: #FFF5EE;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    margin-bottom: 30px;
}

button {
    width: 20vw;
    max-width: 225px;
    height: 60px;
    background-color: #7F9183;
    border-radius: 20px;
    border: none;
    color: #FFF5EE;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    align-self: center;
}

#registerText {
    color: #FFF5EE;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    cursor: pointer;
}

#registerText a {
    color: #FFF5EE;
}